// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'application';

.home_logo{
	width:40%; min-width:300px; margin:0 auto 5px;
	img{ width:100%; }
}

.frosted{
	background-color:rgba(white, 0.85);
	overflow:hidden; color:#333;
	&.rounded{
		border-radius:10px;
	}
}

.login_form{
  border-radius:6px;
  border:white 1px solid;
  max-width: 400px;
  margin: auto; padding:30px 5px;
  background-color:rgba(black, 0.2);
  color:#fff;
  a{ color:#fff; }
}

.home_icons{
  max-width:100px; min-width:50px;
  margin:0 auto;
}

.sub_menu{
  max-width:1100px; margin:0 auto; padding:10px 0 5px;
  overflow: hidden;
  & .item{
    font-size:12px; border-radius:0; color:#333;
    float:left; padding:10px 15px; margin:0;
    &:hover{ background-color:#333; color:white; }
    &.right{ float:right; }
  }
  img{float:left;}
  & .user_info{ margin-top:0; float:left; } 
}

.course_card{
  position: relative; overflow:hidden;
  text-align: center;
  min-width:250px; width:20%;
  border:1px solid #9DC5FF; padding:5px; margin:5px 0; 
  float:none; display:inline-block;
  background-color:#9DC5FF; color:white; 
  font-family:$primary_font; font-size:13px;
  & .name{
    padding:15% 0;
  }
  &:hover{ background-color:#C3D9FF; border:1px solid #C3D9FF;}
}

.class_card{
  position: relative; overflow:hidden;
  text-align: center;
  min-width:250px; width:20%;
  border:1px solid #333; padding:5px; margin:5px 0; 
  float:none; display:inline-block;
  background-color:#333; color:white; 
  font-family:$primary_font; font-size:13px;
  & .name{
    padding:5% 0;
  }
  &:hover{ background-color:#999; border:1px solid #999;}
}

.ticket_list{
  padding: 0;
  overflow: hidden;
  & .sub_menu{
    padding:0;
  }
  & .left_menu{
    padding:0;
    width: 200px;
    min-height:100px;  
    float: left;
    & .ticket{
      cursor: pointer;
      a{color:#333;}
      &:hover, &.selected{ background-color:#eee; }
    }
  }
  & .show_tiket{
    border-left:1px solid #999;
    float: left;
    padding-top:0;
    padding-right:0;
    width: calc(100% - 200px);
    overflow: hidden;
    & .content{
      width: calc(100% - 200px);
      float: left;
      padding:0;
    }
    & .right_menu{
      border-left:1px solid #ddd;
      padding-top:0;
      padding-right:0;
      width: 200px; 
      float: right;
    }
  }
}
.show_form{
  display: none;
  div{padding:0; margin:0;}
}

.slide_show_toggle{
  background-color:#ddd;
  overflow: hidden;
}

.slide_show_wrapper{
  background-color:white;
  position:absolute; z-index:1000;
  width:100%; padding:0;
  top:0; bottom:0;
  & .slide{
    width:100%; height:100%;
    background-size:cover;
    & .content{
      padding:30px 50px;
      color: white;
      & .profile{
        width:300px;
        img{ width:100%; }
      }
      div{padding:0;}
    }
    & .close{ position:absolute; bottom:10px; right:10px; color:white; }
  }
}