// Place all the styles related to the Timesheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.error_timesheet_create{
	color:white;
	padding:5px 10px;
	background-color:red;
}
.open_timesheets, .open_timesheets{
	overflow:hidden;
	width:100%;
	& .time_card{
		margin:5px;
		padding:5px 10px;
		background-color:#eee;
		width: 48.3%; display:inline-block;
		float: none;
	}
}
.auto_date{
	color:white;
	padding:5px 10px;
	margin-bottom:20px;
	background-color:#1CD509;
	display:none;
}